.Transactions>h4
{
    border-bottom: 1px solid #bbb;
    width: 240px;
    /* border: 2px solid red; */
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
    position: relative;
    left: 100px;
    bottom: 45px;
}
.list-items
{
   
    position: relative;
    bottom: 55px;
    margin-left: 80px;
    width: 250px;   
   
}
.income
{
    list-style: none;
    margin-bottom: 7px;
    margin-left: -13px;
    font-size: 17px;
    padding: 5px;
    padding-left: 8px;
    color: green;
    font-weight: 600;
    background-color: white;
    border: 3px solid white;
    border-radius: 4%;

}
.expense
{
    list-style: none;
    margin-bottom: 7px;
    margin-left: -13px;
    font-size: 17px;
    color:red;
    font-weight: 600;
    padding-left: 8px;
    background-color: white;
    border: 3px solid white;
    border-radius: 4%;
}
.amountt
{
    all: unset; 
    float: right;    
}
.Cross
{
    all: unset;
   margin-left: 20px;
   font-weight: bolder;
   color: red;
}
